<style>
  .card {
    width: 350px;
    height: 400px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  .cardImageContainer {
    height: 75%;
    width: auto;
    overflow: hidden;
  }

  .cardImageContainer img {
    height: 120%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .card-body {
    position: relative;
    height: 25%;
    padding: 15px;
    background-color: #fffee4;
  }

  .card-sale {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff6347;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 3px;
  }

  .card-size {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 10px;
    background-color: #252525;
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #ff6347;
  }

  @media screen and (max-width: 750px) {
    .card {
      width: 300px;
    }
  }
</style>

<div class="card">
  <div class="cardImageContainer">
    <img src="<%= item.imageURL %>" alt="T-shirt image" />
  </div>
  <div class="card-body">
    <h6 class="card-size">Size: <%= item.size %></h6>
    <% if (item.sale === 1) { %>
    <h5 class="card-sale">On sale</h5>
    <% } %>
    <button
      type="button"
      class="item btn"
      data-bs-toggle="modal"
      data-bs-target="#shirtModal"
      data-price="<%= item.price %>"
      data-stock="<%= item.stock %>"
    >
      More
    </button>
  </div>
</div>

<%- include('../partials/modal.ejs') %>

<script>
  document.querySelectorAll(".item").forEach((button) => {
    button.addEventListener("click", function () {
      const shirtPrice = button.getAttribute("data-price");
      const stock = parseInt(button.getAttribute("data-stock"));
      let stockMsg = " ";

      if (stock < 1) {
        stockMsg = "Out of stock";
      } else {
        stockMsg = "In stock";
      }

      document.querySelector(".modal-body").innerHTML = `
      <p>Price: $${shirtPrice}</p>
      <p>Stock: ${stockMsg}</p>
    `;
    });
  });
</script>
